<ion-view view-title="Home">
  <ion-content ng-style="background_img">
    <div class="row text-center">
      <div class ="col">
        <a href ='#/login'>
          <img id ="tool-img" ng-src = "img/tools-icon.png">
        </a>
      </div>
      <div class = "col col-50 col-offset-25 dynamic-content">
        <div class = "row row-center">
          <div class ="col">
            <h3 ng-style="margeStyleObj([police,texte_color])" >Pour commencer à jouer, cliquez sur le bouton "Continuez" ci dessous</h3>
            <button ion-ripple ng-style="margeStyleObj([police,bouton_principal])" class="button button-energized button-big button-bottom " ng-click ="next()">Continuez</button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
