<ion-view ng-style = "background_img" view-title="Home">
  <ion-content>
    <div class="row text-center">
      <div class = "col col-50 col-offset-50 dynamic-content">
        <div class = "row row-center">
          <div class ="col">
            <h3>Pour commencer à jouer, cliquez sur le bouton "Continuez" ci dessous</h3>
              <button class="button button-energized button-big button-bottom button-block round" ng-click ="next()">Continuez</button>
      </div>
    </div>
  </div>
  </ion-content>
</ion-view>
