<ion-view view-title="Home">
  <ion-content>

    <div class="row row-center text-center">
      <div class = "col col-50 col-offset-50 dynamic-content">
        <div ng-show="view_question">
          <h4>QUESTION {{count+1}}</h4>
          <h5>{{question[count].intitule}}</h5>
          <div class = "col" id ="boutons-rep">
            <div ng-repeat ="r in question.reponse[count]" >
              <button ion-ripple class="button-reponse button button-block button-calm" ng-click = "getAnswer(r,question[count])">
                {{r}}
              </button>
            </div>
          </div>
        </div>
        <div ng-show="view_explication">
          <h4>QUESTION {{count+1}}</h4>
          <h4 id="message_explication">{{message}}</h4>
          <h5>{{question[count].explication}}</h5>
          <button ion-ripple class="button button-energized button-big button-bottom" ng-click="getNextQuestion()">Continuez</button>
        </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
